body {
    background-color: #e0f7fa;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.container .card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    color: #00796b;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn {
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-success {
    background-color: #00796b;
    color: white;
}

.btn-success:hover {
    background-color: #004d40;
}

.btn-danger {
    background-color: #d32f2f;
    color: white;
}

.btn-danger:hover {
    background-color: #b71c1c;
}

.card-header {
    background-color: #b2dfdb;
    color: #004d40;
}

.text-end {
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; 
    padding: 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}


.nav-button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #0056b3; 
}
